# Backend
backend/venv/
backend/__pycache__/
backend/app/**/__pycache__/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Streamlit app
streamlit_app/venv/
streamlit_app/.env

.DS_Store
